.containerSide {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 300px;
    height: 100%;
    padding: 20px 15px;
    animation: slide 0.2s forwards; 
    background-color: rgba(128, 128, 128, 0.6);
}

.headerSide {
    font-size: 1.5rem;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    width: 90%;
}

.titles {
    font-weight: bold;
    margin-top: 20px;
}

.containerStars {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5px;
}

.star, .starG, .starJ {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.starG {
    color:rgba(128, 128, 128, 0.3);
}   

.starJ {
    color: #ffc107;
}

.star:hover {
    color: #ffc107;
}

@keyframes slide {
    0% {
        transform: translateX(1000%);
    }
    100% {
        transform: translateX(0%);
    }
}

@media screen and (max-width: 990px) {
    .containerSide {
        position: absolute;
        right: 0;
        top: 100px;
        width: 200px;
        height: 610px;
        background-color: rgba(128, 128, 128, 0.6);
    }
}

@media screen and (max-width: 768px) {
    .containerSide {
        background-color: rgba(128, 128, 128, 0.6);
    }
}
    
