@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Montserrat, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.globalContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.container {
    max-width: 1400px;
    height: 100%;
    margin: 0 auto;
    padding: 15px;
}

.flexGrow {
    flex-grow: 1;
}